
body
{   /* Fixer le margin 0 auto centre l'élément */
    margin: 0 auto;
     /* La hauteur s'ajuste en fonction du contenu */
    height:auto;
     /* Définir un fond blanc */
    background: white;
}


